@import url('reset.css');@import url('styled-elements.css');.clear{clear:both;height:1px;}
.inv{display:none;}
.alignleft{float:left;margin:5px 10px 5px 0px;}
body{line-height:1;color:#000000;background:#E5E4E2;font-family:Arial, Helvetica, sans-serif;font-size:100%;}
#body{line-height:1;color:#282828;background:#E5E4E2;font-family:Arial, Helvetica, sans-serif;font-size:100%;}
#wrapper{width:966px;margin:30px auto;background:#2D2F80;min-height:700px;font-size:14px;line-height:1.5em;border-radius:10px;-moz-border-radius:10px;-webkit-border-radius:10px;}
#header{height:200px;position:relative;z-index:10;}
#main{background:#ffffff;position:relative;border-radius:10px;-moz-border-radius:10px;-webkit-border-radius:10px;}
#content{min-height:400px;overflow:hidden;margin-bottom:40px;}
#footer{position:relative;color:#fff;}
#logo{position:absolute;top:40px;left:30px;}
#content a{color:#0099FF;}
#content p{margin-bottom:20px;}
#content .line-divider{clear:both;border-bottom:1px solid #d7d7d7;padding-bottom:20px;margin-bottom:20px;}
#page-title-home{overflow:hidden;height:223px;margin-bottom:30px;background:#f2f1f1 none repeat-x bottom left;}
#page-title-home .title{display:block;font-family:"Minion Pro", serif;font-size:37px;line-height:65px;margin-left:40px;font-variant:small-caps;text-shadow:0 1px rgba(255, 255, 255, 1);}
#page-title-home .subtitle{display:block;font-size:20px;margin-left:45px;line-height:25px;color:#606060;}
#page-title{overflow:hidden;height:70px;margin-bottom:30px;background:#f2f1f1 none repeat-x bottom left;}
#page-title .title{display:block;float:left;font-family:"Minion Pro", serif;font-size:37px;line-height:65px;margin-left:40px;font-variant:small-caps;text-shadow:0 1px rgba(255, 255, 255, 1);}
#page-title .subtitle{display:block;float:left;margin-left:30px;line-height:90px;color:#606060;font-style:italic;}
body.home #header{height:430px;position:relative;z-index:10;}
body.home #header #headline{width:906px;margin:110px auto 40px auto;font-size:26px;line-height:1.5em;font-family:'Ubuntu', arial, serif;color:#ebe7e7;text-align:center;}
body.home #content{padding-top:250px;}
#headline a{text-decoration:none;color:#FFD800;}
h1,h2,h3,h4,h5,h6{line-height:1.4em;font-family:'Ubuntu', arial, serif;font-weight:lighter;}
h1{font-size:30px;}
h2{font-size:28px;}
h3{font-size:26px;}
h4{font-size:24px;}
h5{font-size:22px;}
h6{font-size:20px;}
.one-half,
.one-third,
.two-third,
.three-fourth,
.research-page-column,
.one-third-timetable,
.two-third-timetable,
.one-fourth{float:left;margin-right:30px;position:relative;}
.one-half{width:438px;}
.one-third{width:362px;margin-right:20px;margin-left:20px;text-align:justify;}
.one-third-timetable{width:316px;margin-right:20px;margin-left:20px;text-align:justify;}
.one-fourth{width:204px;}
.two-third{width:524px;margin-right:20px;margin-left:5px;text-align:justify;}
.two-third-timetable{width:570px;margin-right:20px;margin-left:5px;text-align:justify;}
.three-fourth{width:672px;}
.research-page-column{width:672px;margin-right:40px;margin-left:40px;text-align:justify;}
.last{clear:right;margin-right:0 !important;}
#social-holder{overflow:hidden;width:100%;padding-top:40px;}
.social{display:block;float:right;overflow:hidden;margin-right:20px;}
.social li{display:block;width:32px;height:32px;float:left;margin-right:10px;margin-bottom:10px;}
.social a{display:block;width:32px;height:32px;text-indent:-9000px;}
#nav{display:block;position:absolute;top:128px;left:30px;height:48px;width:906px;background:#f2f1f1;border-radius:10px;-moz-border-radius:10px;-webkit-border-radius:10px;}
#nav>li{display:block;float:left;margin-left:10px;margin-top:12px;}
#nav>li:first-child{margin-left:150px;}
#nav>li>a{display:block;font-size:17px;color:#363636;text-decoration:none;padding:7px 10px 6px 10px;border-radius:10px;-moz-border-radius:10px;-webkit-border-radius:10px;text-shadow:0 1px rgba(255, 255, 255, 0.5);}
#nav>li>a:hover,
#nav>li.current-menu-item>a{color:#fff;background:#363636;text-shadow:none;}
#nav>li ul{display:block;margin-top:-1px;background:#ffd800;border-radius:0px 0px 10px 10px;-moz-border-radius:0px 0px 10px 10px;-webkit-border-radius:0px 0px 10px 10px;}
#nav>li>ul ul{margin-top:0px;border-radius:0px 10px 10px 10px;-moz-border-radius:0px 10px 10px 10px;-webkit-border-radius:0px 10px 10px 10px;}
#nav>li ul li a{display:block;padding:10px 15px;display:block;font-size:12px;color:#363636;text-decoration:none;}
#nav>li ul li a:hover{background:#363636;color:#fff;}
#nav>li ul li:last-child a:hover{border-radius:0px 0px 10px 10px;-moz-border-radius:0px 0px 10px 10px;-webkit-border-radius:0px 0px 10px 10px;}
#page-content{float:left;width:826px;margin-left:50px;}
#content .pager li a{display:block;width:100%;height:100%;line-height:33px;text-align:center;text-decoration:none;color:#ffd800;background:#363636;border-radius:15px;-moz-border-radius:15px;-webkit-border-radius:15px;}
#content .pager li:hover a,
#content .pager li.active a{color:#363636;background:#ffd800;}
#footer #bottom{position:relative;width:100%;font-size:12px;line-height:1.5em;line-height:80px;text-align:center;color:#868686;}
#footer #bottom a{color:#ffd800;text-decoration:none;}
#footer #bottom #to-top{position:absolute;right:30px;top:26px;width:33px;height:33px;cursor:pointer;}
